
<div class="container">


    <div class="card text-white bg-secondary mt-3">
        <div class="card-header">About</div>
        <div class="card-body">
          <h5 class="card-title">Location Finder</h5>
          <p class="card-text">
            
            <span class = "text-warning">Created for educational purpose. </span><br> <br>

            <span>
              <b>EN</b> <br>
              If you allow your browser to share your location, than your browser will send your local network information to
               "Google Location Services" and it will determine your location. 
            </span>
            <br><br>

            <span> <br>
                <b>TR</b> <br>
                Tarayıcınızın konumunuzu paylaşmasına izin verirseniz tarayıcınız yerel ağ bilginizi "Google Location Services" e gönderir 
                ve konumunuz belirlenir.
              </span>
          </p>
        </div>


</div>